<div class="mb-5">
<h1 class="text-center">Githot Tracker</h1>
</div>
<div class="d-flex flex-column align-items-center justify-content-center">
    <% for repo in @repos %>
        <div class="card w-50 position-relative mb-5">
            <div class="card-header">
                <strong><%= repo.title%></strong>
            </div>
            <div class="card-body">
                <p class="card-text"><%= repo.description%></p>
                <span class="badge badge-secondary"><%= repo.language%></span><br><br>
                <%= link_to  "Discuss Repo", repo_path(repo.id), class:"btn btn-primary" %>
                <a href="#" class="btn btn-primary">View on Github</a>
                <span class="text-right"><%= repo.stars%></span>
            </div>
        </div>
    <% end %>
</div>
