<div class="mb-5 mt-5">
    <h1 class="text-center"><%= @repo.title%></h1>
</div>

<div class="grid">
    <div class="repo">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="card w-50 position-relative mb-5">
                <div class="card-header">
                    <%= @repo.title %>
                </div>
                <div class="card-body">
                    <p class="card-text"><%= @repo.description %></p>
                    <%= link_to  "View on Github", @repo.url, class: "btn btn-primary mb-2", target:"_blank" %>
                    <% if user_signed_in? %>
                        <% if @repo.likes.find_by_user_id(current_user.id) %>
                            <%= button_to 'Dislike', repo_likes_path(@repo), method: :post, class: "btn btn-primary mb-2" %>
                        <% else %>
                            <%= button_to 'Like', repo_likes_path(@repo), method: :post, class: "btn btn-primary mb-2" %>
                        <% end %>
                    <% end %>
                    <p><%= @repo.likes.count %> <%= (@repo.likes.count) == 1 ? 'Like' : 'Likes'%></p>
                    <span class="text-right"><%= @repo.stars %></span>
                </div>
            </div>

            <%= render  "shared/comments" %>
        </div>
    </div>
</div>